In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult_income.csv")
df

In [3]:
results = pd.read_csv("results.csv", on_bad_lines='skip')
results

In [4]:
df.head()

In [5]:
df.info()

In [6]:
gender_income = df[['Gender', 'income']] # when selecting multiple columns. The two square brackets.
gender_income

In [7]:
type (gender_income) # panda dataframe

In [8]:
gender = df['Gender'] # only for one column. one square bracket 
gender

In [9]:
type(gender)

In [10]:
filterdata = df.query ('age' == 90)

In [ ]:
df.sample()

In [ ]:
df.sample(10)

In [ ]:
df.sample(10, random_state=59) # random is used for reproducibility

In [ ]:
df.describe().T

In [ ]:
df.describe(include= "object")

In [ ]:
df.info()

In [ ]:
df.info(verbose=False)

In [11]:
df[['age','Savings']].describe()

In [ ]:
df[['age','Savings']].mean()

In [ ]:
df[['age','Savings']].max()

In [ ]:
df[['age','Savings']].min()

In [ ]:
df[['age','Savings']].mode()

In [ ]:
df['Savings'].mean()

In [ ]:
df['age'].value_counts() # for mode

In [ ]:
df.Gender.unique()

In [ ]:
df.Gender.nunique() # shows the value

In [ ]:
df.Gender.value_counts()

In [ ]:
df.shape

In [ ]:
print(f"This data has {df.shape[0]} rows and {df.shape[1]} columns")

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.columns[1:3]

In [ ]:
df.columns[2:6] # this is the second, third, forth and fifth row

In [ ]:
df.iloc[1:3, 2:6]
# 1 to 3 are rows it will print 1 and 2 row
# 2 to 6 are columns will print from 2 to 5 but not 6

In [ ]:
df.iloc[:, 2:6] # all rows and the selected columns

In [ ]:
df.loc[:, 'Gender']

In [ ]:
df.loc[3:6, 'Gender':'income'] # loc gives all 3 to 6

In [ ]:
df.loc[df['age'] > 45]

In [ ]:
# u set one column to be index column 
df.set_index('ID no',inplace=True)

In [ ]:
# set age from the smallest to the biggest 
df.sort_values('age', ascending=False) # it takes automatically if true

In [ ]:
df.groupby('Gender')[['age', 'Savings']].mean()

In [ ]:
df['age'] < 45 # False it is not less 45

In [ ]:
df[df['age'] < 45 ]

In [ ]:
df[(df["age"] < 45) & (df['Gender'] == 'Male')]

In [ ]:
df.head(20)